---
layout: default
css-include: /css/main.css
sorted: 1
---

<main aria-label="Content" id="content" class="container">
    <div style="text-align:center;"><img src="assets/img/kirogi.webp" width="80%" alt="Screenshot of Kirogi's flight controls" style="padding-top:1.5em; padding-bottom:0.5em;"></div>
    <h1>About</h1>
    <p>Kirogi is a ground control application for drones. Take to the skies, open source-style.</p>
    <p>Kirogi is being developed for smartphones, tablets and desktop PCs.</p>
    <h1>Features</h1>
    <ul>
      <li>Direct flight controls</li>
      <li>Fly by touch on a Navigation Map</li>
      <li>Trigger vehicle actions (e.g. flips, trim)</li>
      <li>Gamepad/joypad support</li>
      <li>Live video</li>
      <li>Configure flight parameters (speed, altitude limits)</li>
    </ul>
    <p>You can find out more about planned features <a href="https://invent.kde.org/kde/kirogi/blob/master/TODO.md">here</a>.</p>
    <h1>Supported Drones</h1>
    <p>Kirogi currently supports the following models:</p>
    <ul>
      <li>Parrot Anafi</li>
      <li>Parrot Bebop 2</li>
      <li>Ryze Tello</li>
    </ul>
    <p>Support for many more drone models from a variety of manufacturers is planned.</p>
    <p>We will also add support for open protocols such as <a href="https://en.wikipedia.org/wiki/MAVLink)">MAVLink</a> and the <a href="http://www.multiwii.com/wiki/index.php?title=Multiwii_Serial_Protocol">MultiWii Serial Protocol (MSP)</a>.</p>
    <h1>Status</h1>
    <p>Kirogi is in early development. While already usable, the project has not issued a stable release yet. Pre-release builds for various platforms, and the source code, are available from the <a href="downloads.html">Downloads</a> page.</p>
    <h1>The Mascot</h1>
    <div style="text-align:center;"><img src="assets/img/goose.webp" width="50%" alt="Kirogi's mascot" style="padding-top:1.5em; padding-bottom:0.5em;"></div>
    <p><i>Wild</i> geese are known as expert flyers. Kirogi's mascot is a farm goose with an adventurous spirit, who flies just as well thanks to the use of superior technology.</p>
    <p>Kirogi's mascot does not have a name yet. Stay tuned for a community naming contest!</p>
    <h1>More</h1>
    <p>Check out our <a href="faq.html">FAQ</a> page for additional information.</p>
    <div></div>
</main>
